# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Environment variables
.env
.env.development.local
.env.test.local
be/src/env

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# System files
.DS_Store
Thumbs.db

